{% extends "layout.html" %}

{% block content %}
<h1>Vender Producto</h1>
<form method="POST" action="{{ url_for('ice_cream_shop.sold_product') }}" class="form">
    <label for="sell_product">Seleccione el producto que desea vender</label>
    <select name="sell_product" id="sell_product" required>
        <option value="" selected=true></option>
        {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select>    
    <button type="submit" class="button update-button">Vender</button>
</form>
{% if is_admin %}
    <a href="{{ url_for('user.admin_dashboard') }}" class="button back-button">Volver</a>
{% elif is_employee %}
    <a href="{{ url_for('user.employee_dashboard') }}" class="button back-button">Volver</a>
{%elif is_logued%}
    <a href="{{ url_for('user.client_dashboard') }}" class="button back-button">Volver</a>
{% else %}
    <a href="{{ url_for('user.client_dashboard') }}" class="button back-button">Volver</a>
{% endif %}
{% if sold_message %}
    <script type="text/javascript">
        window.onload = function() {
            alert("{{ sold_message|e }}");
        }
    </script>
{% endif %}
{% endblock %}
